/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/01/2021, 08:33:03 PM
    Author     : ErikHernandez
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

body {
  position: relative;
  margin: 0;
  padding: 1rem 0 0 5rem;
  font-family: 'Montserrat' sans-serif;
  background-color: #E8FFFF;
  /*background-color: #EDEDED;*/
  -webkit-transition: .5s;
  transition: .5s;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.colapsable {
  padding-left: 1em;
}

.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 56px;
  height: 100vh;
  background-color: #12192C;
  padding: 1.25rem .5rem 2rem;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 2;
}

.nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: auto;
}

.nav::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
  display: none;  /* Ocultar scroll */
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #EDEDED;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 0 .5rem;
}

.nav__logo-icon {
  margin-right: 1.2rem;
}

.nav__logo-text {
  color: #EDEDED;
  font-weight: 700;
}

.nav__toggle {
  position: absolute;
  top: 1.10rem;
  right: -.6rem;
  width: 18px;
  height: 18px;
  background-color: #F5A623;
  border-radius: 50%;
  font-size: 1.25rem;
  color: #12192C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  color: #EDEDED;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__link:hover {
  background-color: #F5A623;
  color: #12192C;
}

.nav__icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.nav__text {
  font-weight: 700;
}

.show {
  width: 170px;
}

.rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.active {
  background-color: #F5A623;
  color: #12192C;
}

.expander {
  padding: 1rem 0 0 12rem;
  -webkit-transition: .5s;
  transition: .5s;
}